.metadata
AdminExtension
amazon-kinesis-data-analytics-java-examples
AWS
BMM
PDF2WORD
.idea
SmartFoxChat.iml
SmartFoxChatServer.iml
BingoFaceSimulator/.classpath
BingoFaceSimulator/.project
BingoFaceSimulator/.settings
BingoFaceSimulator/bin

NIOStream/.classpath
NIOStream/.project
NIOStream/.settings

ORGWebRTC/.classpath
ORGWebRTC/.project
ORGWebRTC/.settings

WebRTC/.classpath
WebRTC/.project
WebRTC/.settings